## Python Basics

In [ ]:
for i in range (1,1000):
    print (i)

In [11]:
print (1)

1

In [38]:
if True:
    print ("Correct intentation \n")

Correct intentation

Variables

In [16]:
a=1006
print(type(a))
age_str=str(a)
print(type(age_str))

<class 'int'>
<class 'str'>

In [18]:
num=list(map(int,input("ENter the input to the list").split()))
print(" \r".join(map(str, num)))

6

In [23]:
age=35
print(type(age))

<class 'int'>

In [24]:
## Floating point numbers
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [25]:
## stinrgs

name="danger"
print(name)
print(type(name))

danger
<class 'str'>

In [27]:
## boolean
is_true=True
type(is_true)
bool()

False

In [32]:
a,b=12,12
type(a==b)

bool

In [36]:
## commom errors
result="hello"+str(1)
print(result)

hello1

In [39]:
str="Hello"
str.__add__("\n world")

'Hello\n world'

In [40]:
a=12.34
abs(a)
print(abs(a))

12.34

In [10]:
## Not equal to !=
str3="Kridh"
st4="krish"
print(str3!=st4)

True

In [7]:
num1=45
num2=45

print(num1<num2)

False

In [21]:
## and, or , not
x=False
y=True
z=True
res=x and y or z
res1= not x and y

print(res,res1)

True True

### Conditional Statememts
#### 1.If statement
#### 2.Else statement
#### 3.else if statement
#### 4.Nested Conditional statements
#### 5.Common Errors and best practice

In [29]:
age=int(input("Enter your age:"))

if age>18 and age<100:
    print("Hey!!,You are eligible to vote in the Elections")
else:
    print("Sorry,You are not eligible to vote in the Elections. You're a minor")

Sorry,You are not eligible to vote in the Elections. You're a minor

In [27]:
## elif statement 
age=int(input("Enter your age:"))

if age<13:
    print("You are a child")
    
elif age<18:
    print("You're a teenager")
else:
    print("Your are an adult")

You are a child

In [30]:
### Nested conditional statements

num=int(input("Enter a number:"))

if num>0:
    print(" The Number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("THe number is odd")
else:
    if num==0:
        print("The number is zero")
    else:
        print("Jhe NUmber is Negative")

 The Number is positive
The number is even

In [44]:
## lEap year using nested conditional statements
year=int(input("Enter the year:"))

if (year%4==0):
    if (year%100==0):
        if (year%400==0):
            print("It is a leap year")
        else:
            print("This is  not a leap year")
    else:
        print("This is a leap year")
else:
    print("This is not a leap year")

This is not a leap year

### Loops 
### 1.for loop
    iterable over a range
    iterablr over a string
### 2.while loop
### 3.loop control statement
    break
    continue
    pass
### 4.Nested loop
### 5.Examples and common errors

In [2]:
## for loop

range(5)

range(0, 5)

In [18]:
## for loop iteration using a range function
for i  in range(10,-1,-1):
     print(i)

In [3]:
# for loop iteration using a string

str="Danger Lallith"
for i in str:
    print(i)

D
a
n
g
e
r

L
a
l
l
i
t
h

In [5]:
# while loop
## it continues to execute until the contion is true

count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [7]:
count=0
while count%2==0:
    print(count)
    count=count+1

0

In [10]:
## loop control statements
## break
## the break statement is used to exit the loop prematurely

for i in range (10):
    if i==5:
        break
    print(i)

0
1
2
3
4
6
7
8
9

In [9]:
## continue
## the continue statement is used to skip the current iteration and continue with the next iteration
for i in range (10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [14]:
## pass 
## the pass statement is a null operation , it does nothing(null statement)

for i in range(10):
    if i==3:
        print("the number is ",i)
        pass
    print(i)

0
1
2
the number is  3
3
4
5
6
7
8
9

In [15]:
##  Nested loops
## a loop inside another loop is called a nested loop4

for i in range(3):
    for j in range(2):
        print(f"i:{i},j:{j}")

i:0,j:0
i:0,j:1
i:1,j:0
i:1,j:1
i:2,j:0
i:2,j:1

In [16]:
## examples - calculate the sum of first n natural numbers using a while loop
n=int(input("Enter the value of n:"))
sum=0
count=1
while count <=n:
    sum=sum+count
    count=count+1
print("The sum of first ",n," natural numbers is ", sum)

The sum of first  10  natural numbers is  55

In [20]:
sum=0
for i in range (11):
    sum=sum+i
print(sum)

55

In [25]:
## Examples -Prime numbers between 1 and 100
for num in range(1,121):
    if num>1:
        for i in range (2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113

range(0, 2)